@charset "UTF-8";
img{height:auto;}
body {min-height: 100vh}
.thum {position: relative}
.user_icon {width: 60px;aspect-ratio: 1 / 1;background-size: cover!important;position: absolute;bottom: 10px;z-index: 2;left: 10px;border: 0px solid rgba(255, 255, 255, .3)}
.mt-80 {margin-top: 80px}
.youtube {position: relative;width: 100%;padding-top: 56.25%}
.youtube iframe {position: absolute;top: 0;right: 0;width: 100%!important;height: 100%!important;background: #f5f5f5}
.youtube_playon {position: absolute;top: 0;right: 0;width: 100%!important;height: 100%!important;color: transparent}
.youtube_playon:hover {opacity: .7;cursor: pointer}
#loading {width: 100vw;height: 100vh;transition: all 1s;background-color: #000;position: fixed;top: 0;left: 0;z-index: 9999}
#loading .logo {text-align: center;top: 37vh;position: fixed;left: calc(50% - 41px)}
.center {position: fixed;left: 49vw;top: 50vh}
.text-bg-secondary {background: #8768fb!important}
.loaded {opacity: 0;visibility: hidden}
.table_th01 {width: 90px;background: #eee!important;text-align: center}
/*インライン用*/
@keyframes my-fade-in2 {from {opacity: 0}to {opacity: 1}}
.modal_bg {position: relative;margin: 10px auto;width: 980px;max-width: 96%;background: #fff;padding: 20px;animation-name: my-fade-in2;animation-duration: 0.5s}
.popup-modal-dismiss:hover {opacity: .7;cursor: pointer}
/*インライン用*/
.youtube_playon {width: 100%;aspect-ratio: 16 / 9;background-size: cover!important}
#noresults {display: none}
.lang_en .table_th01 {width: 100px}
.search_only {width: 1px;height: 1px;display: none;opacity: 0}
#pageTop {position: fixed;z-index: 3;bottom: 10px;right: 10px}
#pageTop img {width: 60px;cursor: pointer}
.card{content-visibility: auto;contain-intrinsic-size: 240px;contain: content;}
.left_link{position: fixed; left:-20px; bottom: 10px; background: #000; border-radius: 10px; text-decoration: none;}
.left_link a{font-size: 13px;color:#ff9800; text-decoration: none !important; padding: 10px 10px 10px 30px; display: block;}
#country_tag .fi{font-size:40px; margin-bottom: 10px; margin-right:10px;}
.fi{border: 1px solid #eee;}
.channel_profile_icon img{position: absolute; z-index:5; width: 44px; height: 44px; border-radius: 50%; border: 1px solid #ddd;right:5px;top:-23px;}
.card-body{position: relative;}
/*--sp------------------------------*/
@media screen and (max-width:719px) {
	#VOSL {width: 100vw}
	.small .btn-sm {font-size: 13px}
	.row>* {padding-right: calc(var(--bs-gutter-x) * .2);padding-left: calc(var(--bs-gutter-x) * .2)}
	.card-title {font-size: 16px}
	.card-body {padding: 10px}
	.btn-group * {font-size: 10px}
	.small,small {font-size: 10px}
}
